<h1>SQL Server 2019 Big Data Cluster</h1>

## Try to connect to the SQL Server master instance

In [1]:
select @@version, @@servername

(No column name),(No column name)
Microsoft SQL Server 2019 (RTM-GDR) (KB4517790) - 15.0.2070.41 (X64) Oct 28 2019 19:56:59 Copyright (C) 2019 Microsoft Corporation Developer Edition (64-bit) on Linux (Ubuntu 16.04.6 LTS) <X64>,master-0

## Create a demo database

In [2]:
CREATE DATABASE DemoDB;
GO

## and an external datasource

In [3]:
USE DemoDB;
GO
CREATE EXTERNAL DATA SOURCE [SqlStoragePool]
    WITH (LOCATION = N'sqlhdfs://controller-svc:8080/default');

## Viewing the file : 6 header rows to exclude
## So, creating a file format accordingly

In [4]:
USE DemoDB;
GO
CREATE EXTERNAL FILE FORMAT [FileFormat_WxLog]
    WITH (FORMAT_TYPE = DELIMITEDTEXT, 
          FORMAT_OPTIONS (FIELD_TERMINATOR = N';', 
                          STRING_DELIMITER = N'\"', 
                          FIRST_ROW = 7));

## and then create the external table with a structure reflecting CSV structure file

In [5]:
USE DemoDB;
GO
CREATE EXTERNAL TABLE [dbo].[WxLog]
(
    [Date] [varchar](50) NOT NULL,
	[Time] [varchar](50) NOT NULL,
	[Baro] [varchar](50) NULL,
	[QNH] [varchar](50) NULL,
	[Gust Speed] [varchar](50) NULL,
	[Gust Dir] [varchar](50) NULL,
	[Avg Speed] [varchar](50) NULL,
	[Avg Dir] [varchar](50) NULL,
	[Rain Rate] [varchar](50) NULL,
	[Rain] [varchar](50) NULL,
	[UV] [varchar](50) NULL,
	[Temp 0] [varchar](50) NULL,
	[DewPt 0] [varchar](50) NULL,
	[RH 0] [varchar](50) NULL,
	[Temp 1] [varchar](50) NULL,
	[DewPt 1] [varchar](50) NULL,
	[RH 1] [varchar](50) NULL,
	[Temp 2] [varchar](50) NULL,
	[DewPt 2] [varchar](50) NULL,
	[RH 2] [varchar](50) NULL
)
WITH (LOCATION = N'/meteo/WxLog.csv', 
      DATA_SOURCE = [SqlStoragePool], 
	  FILE_FORMAT = [FileFormat_WxLog]);

## Now we can run some testing

In [6]:
USE DemoDB;
GO
SELECT TOP 10 * FROM [dbo].[WxLog]

Date,Time,Baro,QNH,Gust Speed,Gust Dir,Avg Speed,Avg Dir,Rain Rate,Rain,UV,Temp 0,DewPt 0,RH 0,Temp 1,DewPt 1,RH 1,Temp 2,DewPt 2,RH 2
11/05/2013,13:25,1024.00,1024.00,16.92,270,13.32,284,0.00,366.5,NULL,21.40,8.66,44,16.90,-1.72,28,19.10,19.10,100
11/05/2013,13:26,1024.00,1024.00,16.92,248,14.11,266,0.00,366.5,NULL,21.40,8.66,44,16.90,-1.72,28,19.20,19.20,100
11/05/2013,13:27,1024.00,1024.00,16.20,248,13.29,262,0.00,366.5,NULL,21.40,8.66,44,16.85,-1.76,28,19.20,19.20,100
11/05/2013,13:28,1024.00,1024.00,16.92,293,12.50,293,0.00,366.5,NULL,21.40,8.66,44,17.00,-1.63,28,19.30,19.30,100
11/05/2013,13:29,1024.00,1024.00,9.36,248,12.08,286,0.00,366.5,NULL,21.40,8.66,44,17.20,-1.46,28,19.30,19.30,100
11/05/2013,13:30,1024.00,1024.00,14.04,293,8.71,268,0.00,366.5,NULL,21.40,8.66,44,17.30,-1.37,28,NULL,NULL,
11/05/2013,13:31,1024.00,1024.00,9.72,293,9.00,293,0.00,366.5,NULL,21.40,8.66,44,17.40,-1.29,28,19.50,19.50,100
11/05/2013,13:32,1024.00,1024.00,12.60,293,9.79,288,0.00,366.5,NULL,21.40,8.66,44,17.60,-0.63,29,19.60,19.60,100
11/05/2013,13:33,1024.00,1024.00,12.24,293,9.43,266,0.00,366.5,NULL,21.40,8.66,44,17.50,-1.20,28,19.60,19.60,100
11/05/2013,13:34,1024.00,1024.00,12.60,270,9.62,266,0.00,366.5,NULL,21.40,8.66,44,17.85,-0.42,29,19.50,19.50,100

# We can switch to Spark engine to query the HDFS storage
## with the PySpark kernel

In [3]:
# Read the CSV file(s) into a spark dataframe and print schema
results = spark.read \
    .option("inferSchema", "true") \
    .csv('/csvfiles/temperature-last-year_poolhouse.csv') \
    .toDF("DateTime","Humidity","Temperature","Temperature_range (low)","Temperature_range (high)")
results.printSchema()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- DateTime: timestamp (nullable = true)
 |-- Humidity: double (nullable = true)
 |-- Temperature: double (nullable = true)
 |-- Temperature_range (low): double (nullable = true)
 |-- Temperature_range (high): double (nullable = true)

In [4]:
results.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

366

In [5]:
results.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------------+--------+-----------+-----------------------+------------------------+
|           DateTime|Humidity|Temperature|Temperature_range (low)|Temperature_range (high)|
+-------------------+--------+-----------+-----------------------+------------------------+
|2018-05-14 00:00:00|    80.0|      10.06|                    8.8|                    11.2|
|2018-05-15 00:00:00|    88.0|      11.83|                   10.5|                    13.6|
|2018-05-16 00:00:00|    83.0|      13.47|                   11.7|                    16.6|
|2018-05-17 00:00:00|    84.0|      14.69|                   12.9|                    18.1|
|2018-05-18 00:00:00|    82.0|      15.91|                   11.1|                    20.8|
|2018-05-19 00:00:00|    76.0|      17.69|                   13.9|                    21.6|
|2018-05-20 00:00:00|    67.0|      19.07|                   12.4|                    24.5|
|2018-05-21 00:00:00|    65.0|      19.26|                   14.3|                    23.7|
|2018-05-22 00:00:00|    69.0|      19.31|                   16.0|                    22.7|
|2018-05-23 00:00:00|    63.0|      20.69|                   14.4|                    25.5|
|2018-05-24 00:00:00|    67.0|      21.14|                   16.5|                    26.6|
|2018-05-25 00:00:00|    70.0|      20.15|                   16.3|                    23.3|
|2018-05-26 00:00:00|    54.0|      21.54|                   14.4|                    25.9|
|2018-05-27 00:00:00|    64.0|      21.87|                   18.1|                    25.4|
|2018-05-28 00:00:00|    82.0|      18.27|                   16.4|                    19.8|
|2018-05-29 00:00:00|    82.0|       19.0|                   16.4|                    22.2|
|2018-05-30 00:00:00|    84.0|      18.23|                   16.2|                    20.6|
|2018-05-31 00:00:00|    79.0|      18.97|                   15.7|                    23.4|
|2018-06-01 00:00:00|    65.0|      22.18|                   14.9|                    35.6|
|2018-06-02 00:00:00|    68.0|      21.65|                   14.9|                    32.5|
+-------------------+--------+-----------+-----------------------+------------------------+
only showing top 20 rows

In [7]:
results.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------------+--------+-----------+-----------------------+------------------------+
|           DateTime|Humidity|Temperature|Temperature_range (low)|Temperature_range (high)|
+-------------------+--------+-----------+-----------------------+------------------------+
|2018-05-14 00:00:00|    80.0|      10.06|                    8.8|                    11.2|
|2018-05-15 00:00:00|    88.0|      11.83|                   10.5|                    13.6|
|2018-05-16 00:00:00|    83.0|      13.47|                   11.7|                    16.6|
|2018-05-17 00:00:00|    84.0|      14.69|                   12.9|                    18.1|
|2018-05-18 00:00:00|    82.0|      15.91|                   11.1|                    20.8|
+-------------------+--------+-----------+-----------------------+------------------------+
only showing top 5 rows

## We can filter the dataframe

In [8]:
results.filter("Humidity > 70").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------------+--------+-----------+-----------------------+------------------------+
|           DateTime|Humidity|Temperature|Temperature_range (low)|Temperature_range (high)|
+-------------------+--------+-----------+-----------------------+------------------------+
|2018-05-14 00:00:00|    80.0|      10.06|                    8.8|                    11.2|
|2018-05-15 00:00:00|    88.0|      11.83|                   10.5|                    13.6|
|2018-05-16 00:00:00|    83.0|      13.47|                   11.7|                    16.6|
|2018-05-17 00:00:00|    84.0|      14.69|                   12.9|                    18.1|
|2018-05-18 00:00:00|    82.0|      15.91|                   11.1|                    20.8|
|2018-05-19 00:00:00|    76.0|      17.69|                   13.9|                    21.6|
|2018-05-28 00:00:00|    82.0|      18.27|                   16.4|                    19.8|
|2018-05-29 00:00:00|    82.0|       19.0|                   16.4|                    22.2|
|2018-05-30 00:00:00|    84.0|      18.23|                   16.2|                    20.6|
|2018-05-31 00:00:00|    79.0|      18.97|                   15.7|                    23.4|
|2018-06-03 00:00:00|    73.0|      20.36|                   15.9|                    25.2|
|2018-06-04 00:00:00|    73.0|      20.77|                   15.5|                    26.0|
|2018-06-05 00:00:00|    79.0|      19.86|                   16.8|                    25.7|
|2018-06-06 00:00:00|    80.0|      18.21|                   15.5|                    22.3|
|2018-06-07 00:00:00|    73.0|      19.86|                   16.0|                    24.7|
|2018-06-10 00:00:00|    76.0|      21.46|                   18.7|                    25.0|
|2018-06-11 00:00:00|    79.0|      19.29|                   16.8|                    23.6|
|2018-06-12 00:00:00|    76.0|      18.69|                   14.1|                    32.9|
|2018-06-15 00:00:00|    71.0|      19.54|                   16.3|                    23.8|
|2018-06-18 00:00:00|    72.0|      19.03|                   14.7|                    23.5|
+-------------------+--------+-----------+-----------------------+------------------------+
only showing top 20 rows

In [9]:
results.filter("Humidity > 70").filter("Temperature > 15").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------------+--------+-----------+-----------------------+------------------------+
|           DateTime|Humidity|Temperature|Temperature_range (low)|Temperature_range (high)|
+-------------------+--------+-----------+-----------------------+------------------------+
|2018-05-18 00:00:00|    82.0|      15.91|                   11.1|                    20.8|
|2018-05-19 00:00:00|    76.0|      17.69|                   13.9|                    21.6|
|2018-05-28 00:00:00|    82.0|      18.27|                   16.4|                    19.8|
|2018-05-29 00:00:00|    82.0|       19.0|                   16.4|                    22.2|
|2018-05-30 00:00:00|    84.0|      18.23|                   16.2|                    20.6|
|2018-05-31 00:00:00|    79.0|      18.97|                   15.7|                    23.4|
|2018-06-03 00:00:00|    73.0|      20.36|                   15.9|                    25.2|
|2018-06-04 00:00:00|    73.0|      20.77|                   15.5|                    26.0|
|2018-06-05 00:00:00|    79.0|      19.86|                   16.8|                    25.7|
|2018-06-06 00:00:00|    80.0|      18.21|                   15.5|                    22.3|
|2018-06-07 00:00:00|    73.0|      19.86|                   16.0|                    24.7|
|2018-06-10 00:00:00|    76.0|      21.46|                   18.7|                    25.0|
|2018-06-11 00:00:00|    79.0|      19.29|                   16.8|                    23.6|
|2018-06-12 00:00:00|    76.0|      18.69|                   14.1|                    32.9|
|2018-06-15 00:00:00|    71.0|      19.54|                   16.3|                    23.8|
|2018-06-18 00:00:00|    72.0|      19.03|                   14.7|                    23.5|
|2018-09-06 00:00:00|    73.0|      20.93|                   19.4|                    23.8|
|2018-10-09 00:00:00|    82.0|      16.55|                   13.7|                    20.7|
|2018-10-10 00:00:00|    77.0|      18.77|                   16.4|                    22.6|
|2018-10-11 00:00:00|    74.0|       19.0|                   14.2|                    23.5|
+-------------------+--------+-----------+-----------------------+------------------------+
only showing top 20 rows

In [10]:
results.select("temperature","Humidity").summary().show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+------------------+------------------+
|summary|       temperature|          Humidity|
+-------+------------------+------------------+
|  count|               366|               366|
|   mean|15.283779680952737| 66.59827489034282|
| stddev|7.2870462623946715|13.000718440852483|
|    min|             -0.09|  36.9686098654709|
|    25%|              9.49|              57.0|
|    50%|             14.17|              67.0|
|    75%|             21.64|              78.0|
|    max|             30.28|              94.0|
+-------+------------------+------------------+

## We can switch a TSQL like syntax to query the dataframe

In [12]:
results.select("temperature","Humidity").show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------+--------+
|temperature|Humidity|
+-----------+--------+
|      10.06|    80.0|
|      11.83|    88.0|
|      13.47|    83.0|
|      14.69|    84.0|
|      15.91|    82.0|
|      17.69|    76.0|
|      19.07|    67.0|
|      19.26|    65.0|
|      19.31|    69.0|
|      20.69|    63.0|
+-----------+--------+
only showing top 10 rows

# We can also use some real TSQL statements.
Let's creae a kind of view ands make some queries

In [13]:
results.createOrReplaceTempView("poolhouse")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [14]:
spark.sql("SELECT * from poolhouse").show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------------+--------+-----------+-----------------------+------------------------+
|           DateTime|Humidity|Temperature|Temperature_range (low)|Temperature_range (high)|
+-------------------+--------+-----------+-----------------------+------------------------+
|2018-05-14 00:00:00|    80.0|      10.06|                    8.8|                    11.2|
|2018-05-15 00:00:00|    88.0|      11.83|                   10.5|                    13.6|
|2018-05-16 00:00:00|    83.0|      13.47|                   11.7|                    16.6|
|2018-05-17 00:00:00|    84.0|      14.69|                   12.9|                    18.1|
|2018-05-18 00:00:00|    82.0|      15.91|                   11.1|                    20.8|
|2018-05-19 00:00:00|    76.0|      17.69|                   13.9|                    21.6|
|2018-05-20 00:00:00|    67.0|      19.07|                   12.4|                    24.5|
|2018-05-21 00:00:00|    65.0|      19.26|                   14.3|                    23.7|
|2018-05-22 00:00:00|    69.0|      19.31|                   16.0|                    22.7|
|2018-05-23 00:00:00|    63.0|      20.69|                   14.4|                    25.5|
+-------------------+--------+-----------+-----------------------+------------------------+
only showing top 10 rows

In [15]:
spark.sql("SELECT * from poolhouse LIMIT 10").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------------+--------+-----------+-----------------------+------------------------+
|           DateTime|Humidity|Temperature|Temperature_range (low)|Temperature_range (high)|
+-------------------+--------+-----------+-----------------------+------------------------+
|2018-05-14 00:00:00|    80.0|      10.06|                    8.8|                    11.2|
|2018-05-15 00:00:00|    88.0|      11.83|                   10.5|                    13.6|
|2018-05-16 00:00:00|    83.0|      13.47|                   11.7|                    16.6|
|2018-05-17 00:00:00|    84.0|      14.69|                   12.9|                    18.1|
|2018-05-18 00:00:00|    82.0|      15.91|                   11.1|                    20.8|
|2018-05-19 00:00:00|    76.0|      17.69|                   13.9|                    21.6|
|2018-05-20 00:00:00|    67.0|      19.07|                   12.4|                    24.5|
|2018-05-21 00:00:00|    65.0|      19.26|                   14.3|                    23.7|
|2018-05-22 00:00:00|    69.0|      19.31|                   16.0|                    22.7|
|2018-05-23 00:00:00|    63.0|      20.69|                   14.4|                    25.5|
+-------------------+--------+-----------+-----------------------+------------------------+

In [16]:
spark.sql("SELECT MIN(Temperature),MAX(Temperature),AVG(Temperature) from poolhouse").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+----------------+------------------+
|min(Temperature)|max(Temperature)|  avg(Temperature)|
+----------------+----------------+------------------+
|           -0.09|           30.28|15.283779680952737|
+----------------+----------------+------------------+

In [17]:
spark.sql("SELECT DateTime,Temperature,LEAD(Temperature) OVER (order by DateTime) as NextValue,avg(Temperature) OVER () as avgTemp from poolhouse").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------------+-----------+---------+------------------+
|           DateTime|Temperature|NextValue|           avgTemp|
+-------------------+-----------+---------+------------------+
|2018-05-14 00:00:00|      10.06|    11.83|15.283779680952737|
|2018-05-15 00:00:00|      11.83|    13.47|15.283779680952737|
|2018-05-16 00:00:00|      13.47|    14.69|15.283779680952737|
|2018-05-17 00:00:00|      14.69|    15.91|15.283779680952737|
|2018-05-18 00:00:00|      15.91|    17.69|15.283779680952737|
|2018-05-19 00:00:00|      17.69|    19.07|15.283779680952737|
|2018-05-20 00:00:00|      19.07|    19.26|15.283779680952737|
|2018-05-21 00:00:00|      19.26|    19.31|15.283779680952737|
|2018-05-22 00:00:00|      19.31|    20.69|15.283779680952737|
|2018-05-23 00:00:00|      20.69|    21.14|15.283779680952737|
|2018-05-24 00:00:00|      21.14|    20.15|15.283779680952737|
|2018-05-25 00:00:00|      20.15|    21.54|15.283779680952737|
|2018-05-26 00:00:00|      21.54|    21.87|15.283779680952737|
|2018-05-27 00:00:00|      21.87|    18.27|15.283779680952737|
|2018-05-28 00:00:00|      18.27|     19.0|15.283779680952737|
|2018-05-29 00:00:00|       19.0|    18.23|15.283779680952737|
|2018-05-30 00:00:00|      18.23|    18.97|15.283779680952737|
|2018-05-31 00:00:00|      18.97|    22.18|15.283779680952737|
|2018-06-01 00:00:00|      22.18|    21.65|15.283779680952737|
|2018-06-02 00:00:00|      21.65|    20.36|15.283779680952737|
+-------------------+-----------+---------+------------------+
only showing top 20 rows

## We can also work on multiple files in the same folder

In [18]:
allfiles = spark.read \
    .option("inferSchema", "true") \
    .csv('/csvfiles/*.csv') \
    .toDF("DateTime","Humidity","Temperature","Temperature_range (low)","Temperature_range (high)")
allfiles.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

3202

In [19]:
allfiles.select("temperature","Humidity").summary().show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+------------------+------------------+
|summary|       temperature|          Humidity|
+-------+------------------+------------------+
|  count|              3202|              3202|
|   mean|20.916032250648918| 46.53053633065031|
| stddev| 8.283183601935866|19.764181157398895|
|    min|             -0.09|              3.36|
|    25%|              16.1|              38.0|
|    50%|             21.82|              48.0|
|    75%|              23.9|              60.0|
|    max|              47.8|              94.0|
+-------+------------------+------------------+

## It is also possible to use the JOIN operator between dataframes

In [20]:
bathroom = spark.read \
    .option("inferSchema", "true") \
    .csv('/csvfiles/temperature-last-year_salledebain.csv') \
    .toDF("DateTime","Humidity","Temperature","Temperature_range (low)","Temperature_range (high)")

livingroom = spark.read \
    .option("inferSchema", "true") \
    .csv('/csvfiles/temperature-last-year_sejour.csv') \
    .toDF("DateTime","Humidity","Temperature","Temperature_range (low)","Temperature_range (high)")    

bathroom.select("DateTime","temperature","Humidity").join(livingroom.select("DateTime","temperature","Humidity"),"DateTime").show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------------+-----------+--------+-----------+--------+
|           DateTime|temperature|Humidity|temperature|Humidity|
+-------------------+-----------+--------+-----------+--------+
|2018-05-14 00:00:00|      21.32|    57.0|      21.78|    48.0|
|2018-05-15 00:00:00|      21.27|    58.0|      21.61|    50.0|
|2018-05-16 00:00:00|      21.15|    61.0|      21.73|    52.0|
|2018-05-17 00:00:00|      21.14|    64.0|      22.14|    55.0|
|2018-05-18 00:00:00|      21.63|    67.0|      22.53|    56.0|
|2018-05-19 00:00:00|      21.83|    68.0|      22.39|    59.0|
|2018-05-20 00:00:00|      21.78|    64.0|      22.84|    57.0|
|2018-05-21 00:00:00|       22.1|    63.0|      22.94|    57.0|
|2018-05-22 00:00:00|      22.55|    68.0|      23.25|    58.0|
|2018-05-23 00:00:00|      22.74|    68.0|      23.58|    57.0|
+-------------------+-----------+--------+-----------+--------+
only showing top 10 rows